
<div class="row loginRow">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 loginCliente">
      <table class="loginTableCliente">
        <tr class="loginTrCliente">
          <th>
            <img src="assets/img/cliente00001_400px.png" alt="Muritiba & Niutom Jr.">
          </th>
        </tr>
      </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 loginLateral azulEscuroFundo">
      <table class="loginTableLateral">
        <tr>
          <th>
          </th>
        </tr>
        <tr class="loginTrLateral">
          <th class="loginThLateral">

            <div class="wrapper loginFrame float-left">
              <form action="" method="post" name="Login_Form" class="form-signin rounded loginForm">
                <h4 class="form-signin-heading loginTitulo">Recuperação de senha</h4><br>
                <input type="password" class="form-control password1" name="password1" placeholder="Nova senha" required="" ng-model="recuperarSenha.senha" autofocus />
                <input type="password" class="form-control" name="password2" placeholder="Repita a senha" required="" ng-model="recuperarSenha.repetirSenha" />
                <button class="btn btn-lg btn-gravar btn-block"  name="Submit" value="Login" type="button" ng-click="atribuirNovaSenha()" >Enviar</button>
              </form>
            </div>
          </th>
        </tr>
        <tr>
          <th class="loginThRodape">
            <hr class="loginHrRodape colorgraph">
            <footer>
              <div class="container col-12 loginFooterDiv">
                <span class="text-muted loginSpanRodape">Copyright &copy; 2018 &middot; <a href="http://jurix.com/" target="_blank" >JURIX</a></span>
              </div>
            </footer>
          </th>
        </tr>
      </table>
    </div>
</div>

