
<!-- Modal Gravar e Gerar Relatório -->
<div id="gravarGerarRelatorio" class="modal fade eventoModal" role="dialog">
    <div class="modal-dialog">
        <!-- Conteúdo -->
        <div class="modal-content" style="padding:1rem; padding-bottom:2rem; border:none;">
            <div class="modal-header">
                <div class="float-left">
                    <h4 class="modalH4">Gravar Relatório</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="col-lg-12 novoEventoDocsCol">
                <div class="alterarEvento">
                    <form id="formFiltroRelatorio" class="modalForm needs-validation" novalidate>
                        <div class="row">
                            <div class="col-lg-12 mb-1">
                                <label for="nomeFiltro">Nome:</label>
                                <input class="form-control formCadastro" id="nomeFiltro" placeholder="Nome do relatório" type="text" ng-model="$ctrl.novoFiltro.nome" required="required">
                            </div>
                            <div class="col-lg-12 mb-3">
                                <label for="descricaoFiltro">Descrição:</label>
                                <input class="form-control formCadastro" id="descricaoFiltro" placeholder="Descrição do relatório" type="text" ng-model="$ctrl.novoFiltro.descricao" >
                            </div>
                            <div class="col-lg-12">
                                <button class="btn btn-gravar btn-lg float-right btn-block" type="button" ng-click="$ctrl.salvarFiltro()">Gerar relatório</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>