<div class="float-left" id="ordemCrescente" style=" background-color: #24242B; padding: 0.4rem; margin-bottom: 0.2rem; border-radius: 0.3rem;"  ng-show="$ctrl.ordenacao == 'asc'" >
    <a href="" class="btn-ordenarPauta" style="padding: 0.2rem;"><i class="fas fa-sort-numeric-down fa-2x" aria-hidden="true" ng-click="$ctrl.ordenarClick()" ></i></a>
</div>

<div class="float-left" id="ordemDecrescente" style=" background-color: #24242B; padding: 0.4rem; margin-bottom: 0.2rem; border-radius: 0.3rem;" ng-show="$ctrl.ordenacao == 'desc'" >
    <a href="" class="btn-ordenarPauta" style="padding: 0.2rem;"><i class="fas fa-sort-numeric-up fa-2x" aria-hidden="true" ng-click="$ctrl.ordenarClick()" ></i></a>
</div>
