<div class="row anexarRow float-left" style="width:100%;" >
    <div class="col-lg-4">
        <alert-msg message="$ctrl.message"></alert-msg>
    </div>
</div>

<div class="row mb-3" id="perfilSelectAutorizacoes" style="background-color: aliceblue">
    <table>
        <tr>
            <th style="padding-left: 0.5rem;"> Perfil </th>
            <th style="width: auto; text-align: center;"> Novo </th>
        </tr>
        <tr>
            <td style="min-width: 350px;">

                <select ng-model="$ctrl.perfilSelecionado" ng-change="$ctrl.selecionarPerfil()"
                        class="custom-select d-block w-100" id="perfilListagem" required>
                    <option ng-value="perfil" ng-repeat="perfil in $ctrl.perfis">
                        {{perfil.descricao}}
                    </option>
                </select>

            </td>
            <td>
                <button class="btn btn-finalizarEvento btn-md" type="button" id="novoCadastroPerfil" style="width:100%; min-width: 50px;" ng-click="$ctrl.novoPerfil()" >
                    <span><i class="fa fa-plus fa-1x" aria-hidden="true"></i></span>
                </button>
            </td>
        </tr>
    </table>
</div>

<div class="row mb-3" id="UserAutorizacoes">
    <table>
        <tr>
            <th style="padding-left: 0.5rem;">
                <a>Perfil selecinado</a>
            </th>
            <th style="width: auto; text-align: center;">
                <a>Gravar</a>
            </th>
            <th style="width: auto; text-align: center;">
                <a>Apagar</a>
            </th>
        </tr>
        <tr>
            <td style="min-width: 350px;">
                <input  class="form-control formCadastro" id="perfilSelecionado" type="text" ng-model="$ctrl.perfilSelecionado.descricao" ng-disabled="$ctrl.perfilSelecionado.id == null">
            </td>
            <td>
                <button class="btn btn-finalizarEvento btn-md" type="button"  style="width:100%; font-size: 1.3rem; padding: 0.1rem; margin: 0rem; min-width: 65px;"  ng-click="$ctrl.salvarPerfil()" ng-disabled="$ctrl.perfilSelecionado.id == null" ><span><i class="fa fa-save" aria-hidden="true"></i></span></button>
            </td>
            <td>
                <button class="btn btn-apagarCentroCusto btn-md" type="button" data-toggle="modal" data-target="#apagarPerfilModal"  style="width:100%; font-size: 1.3rem; padding: 0.1rem; margin: 0rem; min-width: 65px;" ng-disabled="$ctrl.perfilSelecionado.id == null || $ctrl.perfilSelecionado.id == -1" ><span><i class="fa fa-trash-alt " aria-hidden="true"></i></span></button>
            </td>
        </tr>
    </table>
</div>


<div class="row mb-3" id="listaAutorizacoes" ng-repeat="permissao in $ctrl.permissoes">


    <div class="col-sm-9 col-md-3" style="height:40px; padding-top: 0.5rem; background-color: #F4F4F4;">
        <a>{{permissao.descricao}}</a>
    </div>
    <div class="col-sm-2 col-md-1" style="height: 40px; padding-left: 0rem;">
				<span class="button-checkbox" style="padding:0rem; margin:0rem;">
					<button type="button" class="btn btn-md btn-block" data-color="finalizarEvento" style="height: 100%; border-radius:0rem !important; border:0px !important; outline:0px !important; width: 100px;" ng-disabled="$ctrl.perfilSelecionado.id == null" ng-click="$ctrl.permissaoClick(permissao)" >
						<i class="fas fa-1x" ng-class="$ctrl.isPermissaoSelected(permissao) ? 'fa-check' : ''" ></i>
					</button>
				</span>
    </div>
    <div class="col-sm-1 col-md-8" style="height: 40px;">
    </div>

</div>

<div class="row mb-3" id="UserAutorizacoes2" style="padding-bottom: 40px;">
    <table>
        <tr>
            <th style="padding-left: 0.5rem;">
                <a>Perfil selecinado</a>
            </th>
            <th style="width: auto; text-align: center;">
                <a>Gravar</a>
            </th>
            <th style="width: auto; text-align: center;">
                <a>Apagar</a>
            </th>
        </tr>
        <tr>
            <td style="min-width: 350px;">
                <input  class="form-control formCadastro" type="text" ng-model="$ctrl.perfilSelecionado.descricao" ng-disabled="$ctrl.perfilSelecionado.id == null">
            </td>
            <td>
                <button class="btn btn-finalizarEvento btn-md" type="button"  style="width:100%; font-size: 1.3rem; padding: 0.1rem; margin: 0rem; min-width: 65px;"  ng-click="$ctrl.salvarPerfil()" ng-disabled="$ctrl.perfilSelecionado.id == null" ><span><i class="fa fa-save" aria-hidden="true"></i></span></button>
            </td>
            <td>
                <button class="btn btn-apagarCentroCusto btn-md" type="button" data-toggle="modal" data-target="#apagarPerfilModal"  style="width:100%; font-size: 1.3rem; padding: 0.1rem; margin: 0rem; min-width: 65px;" ng-disabled="$ctrl.perfilSelecionado.id == null || $ctrl.perfilSelecionado.id == -1" ><span><i class="fa fa-trash-alt " aria-hidden="true"></i></span></button>
            </td>
        </tr>
    </table>
</div>

<div class="modal fade" id="apagarPerfilModal" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#FFFFFF; border-radius:0rem; width: 100%;">
                <div class="row" style="width: 100%; text-align: center;">
                    <h4 class="modal-title mb-3" style="padding-left:1rem; color:#000000; width: 100%;">Apagar Perfil</h4>
                </div>
            </div>
            <div class="modal-body" style="margin:auto; padding-top:2rem; padding-bottom:3rem;">
                <form method="post" name="Login_Form" class="form-signin rounded loginForm">
                    <label >Confirme a exclusão deste perfil</label><br>
                    <div style="text-align:center;">
                        <button class="btn btn-lg btn-gravarEvento mb-3" name="Submit" value="" type="Button" ng-click="$ctrl.deletarPerfil()" style="min-width:6rem;">Sim</button>
                        <button class="btn btn-lg btn-gravar mb-3" name="Submit" value="" type="Button" data-dismiss="modal" style="min-width:6rem;">Não</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>