<div class="row" style="background-color:#FAFAFA; padding:1.5rem; margin:0rem; margin-top: 70px; margin-bottom: 30px; height: 230px;">
        
	<div class="col-sm-6 col-md-3 mb-3" style=" background-color:transparent; padding:0rem; padding-left:15px; padding-right:15px;">
          
    	<div style="border-radius:0.4rem; padding:30px; background-color:#FFFFFF; height: 100%; box-shadow: 0 4px 12px 0 rgba(0,0,0,0.12),0 6px 20px 0 rgba(0,0,0,0.12) !important;">
			<table style="width: 100%; height: 100%;">
				<tr>
					<td>
						<a href="" style="text-decoration: none !important;">
				    		<span><i class="fas fa-bell fa-3x" style="color:#DB4C59";></i></span>
						</a>
				  	</td>
				  	<td align="right">
						<a href="" class="contadoresPagInicialVermelho" style=" text-align: right; padding-top: 0px !important; margin-top: 0px; font-weight: normal; text-decoration: none !important;">{{dashBoard.totalAlertasPauta}}</a>
				  	</td>
				</tr>
				<tr>
					<td colspan="2" align="right" valign="bottom" style="border-bottom: none; width: 100%;">
						<a href="" style="text-decoration: none !important;">
							<p class="m-b-0" style="text-align: right; color: #99abb4; margin-bottom: 0rem;">Alertas da Pauta</p>  
						</a>
				  	</td>	
				</tr>
			</table>
    	</div>
  	</div>
          
    <div class="col-sm-6 col-md-3 mb-3" style=" background-color:transparent; padding:0rem; padding-left:15px; padding-right:15px;">
          
    	<div style="border-radius:0.4rem; padding:30px; height: 100%; background-color:#FFFFFF; box-shadow: 0 4px 12px 0 rgba(0,0,0,0.12),0 6px 20px 0 rgba(0,0,0,0.12) !important;">
			<table style="width: 100%; height: 100%;">
				<tr>
					<td>
						<a href="" style="text-decoration: none !important;">
				    		<span><i class="fas fa-calendar-alt fa-3x" style="color:#50C195;"></i></span>
						</a>
				  	</td>
				  	<td align="right">
						<a href="" class="contadoresPagInicialVerde" style=" text-align: right; padding-top: 0px !important; margin-top: 0px; font-weight: normal; text-decoration: none !important;">0</a>
				  	</td>
				</tr>
				<tr>
				  	<td colspan="2" align="right" valign="bottom" style="border-bottom: none; width: 100%;">
						<a href="" style="text-decoration: none !important;">
							<p class="m-b-0" style="text-align: right; color: #99abb4; margin-bottom: 0rem;">Audiências</p>
						</a>
				  	</td>	
				</tr>
			</table>
       	</div>  
 	</div>
          
    <div class="col-sm-6 col-md-3 mb-3" style=" background-color:transparent; padding:0rem; padding-left:15px; padding-right:15px;">
            
    	<div style="border-radius:0.4rem; padding:30px; height: 100%; background-color:#FFFFFF; box-shadow: 0 4px 12px 0 rgba(0,0,0,0.12),0 6px 20px 0 rgba(0,0,0,0.12) !important;">
			<table style="width: 100%; height: 100%;">
				<tr>
					<td>
						<a href="" style="text-decoration: none !important;">
				    		<span><i class="fas fa-archive fa-3x" style="color:#1C8DE1;"></i></span>
						</a>
				  	</td>
				  	<td align="right">
						<a href="" class="contadoresPagInicialAzul" style=" text-align: right; padding-top: 0px !important; margin-top: 0px; font-weight: normal; text-decoration: none !important;">{{dashBoard.totalProcessoAtivos}}</a>
				  	</td>
				</tr>
				<tr>
				  	<td colspan="2" align="right" valign="bottom" style="border-bottom: none; width: 100%;">
						<a href="" style="text-decoration: none !important;">
							<p class="m-b-0" style="text-align: right; color: #99abb4; margin-bottom: 0rem;">Processos ativos</p>
						</a>
				  	</td>	
				</tr>
			</table>
     	</div>  
 	</div>
          
    <div class="col-sm-6 col-md-3 mb-3" style=" background-color:transparent; padding:0rem; padding-left:15px; padding-right:15px;">
            
    	<div style="border-radius:0.4rem; padding:30px; height: 100%; background-color:#FFFFFF; box-shadow: 0 4px 12px 0 rgba(0,0,0,0.12),0 6px 20px 0 rgba(0,0,0,0.12) !important;">
			<table style="width: 100%; height: 100%;">
				<tr>
					<td>
						<a href="" style="text-decoration: none !important;">
				    		<span><i class="fas fa-user fa-3x" style="color:#FFB64D;"></i></span>
						</a>
				  	</td>
				  	<td align="right">
						<a href="" class="contadoresPagInicialAmarelo" style=" text-align: right; padding-top: 0px !important; margin-top: 0px; font-weight: normal; text-decoration: none !important;">{{dashBoard.totalClientesAtivos}}</a>
				  	</td>
				</tr>
				<tr>
					<td colspan="2" align="right" valign="bottom" style="border-bottom: none; width: 100%;">
						<a href="" style="text-decoration: none !important;">
							<p class="m-b-0" style="text-align: right; color: #99abb4; margin-bottom: 0rem;">Clientes ativos</p>
						</a>
				  	</td>	
				</tr>
			</table>
     	</div>  
   	</div>
          
    <div class="col-sm-12 col-md-12 mb-3" style=" background-color:transparent; padding:0rem; padding-left:15px; padding-right:15px; padding-bottom: 70px;">
            
    	<div style="border-radius:0.4rem; padding:30px; background-color:#FFFFFF; box-shadow: 0 4px 12px 0 rgba(0,0,0,0.12),0 6px 20px 0 rgba(0,0,0,0.12) !important;">
              
        	<div class="row">
            	<div class="col-md-7">  
                	<h1 class="mb-5" style="color:#CCCCCC;">Perfil</h1>
                  		<div class="row">
					  		<div class="col-md-8 mb-3">
					  			<input class="form-control formCadastro" id="nomeColaborador" placeholder="Nome do colaborador" type="text" ng-model="colaborador.usuario.nome" disabled>
					  	</div>
					  	<div class="col-md-4 mb-3">
					  	</div>
					  
					  	<div class="col-md-4 mb-3">
					  		<input class="form-control formCadastro" id="colaboradorTel1" placeholder="Telefone 01" type="text" ng-model="colaborador.telefone1" disabled>
					  	</div>
					  
					  	<div class="col-md-8 mb-3">
					  	</div>
					  
					  	<div class="col-md-6 mb-5">
					  		<input class="form-control formCadastro" id="emailProfissional" placeholder="Email Profissional" ng-model="colaborador.emailProfissional" type="text" disabled>
					  	</div>          
              	  	</div>
					
				  	<div class="row">
          				<div class="col-md-12 mb-3">
            				<button class="btn btn-gravarEvento btn-lg btn-block fa-pull-left" style="width: 200px;" ng-click="irPerfilUsuario()">
								<i class="fa fa-pencil-alt fa-1x" aria-hidden="true"></i>Editar
							</button>
          		  		</div>
        			</div>					
                </div>
                 
                <div class="col-lg-5">
                	<div style="border-radius:0.4rem; padding:30px; padding-top:10px; background-color:#FFFFFF; box-shadow: 0 4px 12px 0 rgba(0,0,0,0.12),0 6px 20px 0 rgba(0,0,0,0.12) !important;">
                    	<div class="row mb-4" style="padding:0rem; margin:0rem;">
                      		<div class="col-12" style="padding:0rem; margin:0rem;">
                        		<a style="color:#CCCCCC; font-size: 1.5rem;">Processos recentes</a>
                      		</div>
                    	</div>
                    
                    	<div class="browser" style="width:100%;">
							<p class="f-w-600" style="margin-bottom:0.5rem" ng-if="dashBoard.processos[0]"><a ui-sref="layout.processoVisualizar({id: dashBoard.processos[0].id})" > {{dashBoard.processos[0].numeroProcesso}}</a></p>
                      		<div class="progress mb-3" ng-if="dashBoard.processos[0]" >
                        		<div role="progressbar" style="width: 100%; height:8px;" class="progress-bar bg-danger wow animated progress-animated"> <span class="sr-only">25% do Faturamento</span>
								</div>
                      		</div>
                      		<p class="m-t-30 f-w-600" style="margin-bottom:0.5rem " ng-if="dashBoard.processos[1]"><a ui-sref="layout.processoVisualizar({id: dashBoard.processos[1].id})" > {{dashBoard.processos[1].numeroProcesso}}</a></p>
                      		<div class="progress mb-3" ng-if="dashBoard.processos[1]">
                        		<div role="progressbar" style="width: 90%; height:8px;" class="progress-bar bg-info wow animated progress-animated"> <span class="sr-only">17% do Faturamento</span>
								</div>
                      		</div>
                      		<p class="m-t-30 f-w-600" style="margin-bottom:0.5rem" ng-if="dashBoard.processos[2]"><a ui-sref="layout.processoVisualizar({id: dashBoard.processos[2].id})" > {{dashBoard.processos[2].numeroProcesso}}</a></p>
                      		<div class="progress mb-3" ng-if="dashBoard.processos[2]">
                        		<div role="progressbar" style="width: 80%; height:8px;" class="progress-bar bg-success wow animated progress-animated"> <span class="sr-only">14% do Faturamento</span>
								</div>
                      		</div>
                      		<p class="m-t-30 f-w-600" style="margin-bottom:0.5rem" ng-if="dashBoard.processos[3]"><a ui-sref="layout.processoVisualizar({id: dashBoard.processos[3].id})" > {{dashBoard.processos[3].numeroProcesso}}</a></p>
                      		<div class="progress mb-3" ng-if="dashBoard.processos[3]">
                        		<div role="progressbar" style="width: 70%; height:8px;" class="progress-bar bg-warning wow animated progress-animated"> <span class="sr-only">11% do Faturamento</span>
								</div>
                      		</div>
				      		<p class="m-t-30 f-w-600" style="margin-bottom:0.5rem" ng-if="dashBoard.processos[4]"><a ui-sref="layout.processoVisualizar({id: dashBoard.processos[4].id})" > {{dashBoard.processos[4].numeroProcesso}}</a></p>
                      		<div class="progress m-b-30" ng-if="dashBoard.processos[4]">
                        		<div role="progressbar" style="width: 60%; height:8px;" class="progress-bar bg-purple wow animated progress-animated"> <span class="sr-only">33% do Faturamento</span>
								</div>
                      		</div>
                    	</div>
                  	</div>
                </div>
       		</div>
   		</div>
 	</div>
</div>





    <footer class="footer" style="width:100%;">
      <div class="container col-12 footerJurix" style="height:60px;">
        <span class="text-muted">Copyright &copy; 2018 &middot; <a href="http://jurix.com/" target="_blank" >JURIX</a></span>
      </div>
    </footer>