<!-- Modal Conta Receber Ver e Editar -->
<div id="ContaReceberVer" class="modal fade eventoModal" role="dialog">
    <div class="modal-dialog" style="max-width:100% !important; width: 70% !important; margin:auto; padding-top:1rem;">
        <!-- Conteúdo -->
        <div class="modal-content" style="padding:1rem; padding-bottom:2rem; border:none; margin:auto;">
            <div class="modal-header">
                <div class="float-left">
                    <h4 class="modalH4">CONTA A RECEBER</h4>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="col-lg-12 novoEventoDocsCol">
                <div class="alterarEvento">
                    <form class="modalForm">
                        <div class="row">
                            <div class="col-lg-12 mb-1">
                                <div class="row">
                                    <div class="col-lg-12 mb-1">
                                        <label for="contaReceberDescricao">Descrição:</label>
                                        <input  class="form-control formCadastro" id="contaReceberDescricao" placeholder="Descrição da operação" type="text" disabled ng-model="$ctrl.contaReceber.descricao" >
                                    </div>
                                    <div class="col-lg-6 mb-2">
                                        <label for="contaReceberCliente">Cliente:</label>
                                        <input  class="form-control formCadastro" id="contaReceberCliente" placeholder="nome do Cliente" type="text" disabled ng-model="$ctrl.contaReceber.cliente.nome">
                                    </div>
                                    <div class="col-lg-6 mb-2">
                                        <label for="contaReceberContraria">Parte contrária:</label>
                                        <input  class="form-control formCadastro" id="contaReceberContraria" placeholder="Parte contrária" type="text" disabled>
                                    </div>
								</div>
							</div>
							
							<div class="col-lg-12 mb-3" >
								<div class="row" ng-repeat="incidenciaConta in $ctrl.contaReceber.incidencias" >
        							<div class="col-lg-3 mb-1">
                						<label for="receitaCentroCustos">Centro de custos:</label>
                                        <input ng-model="incidenciaConta.centroCusto.descricao" class="form-control formCadastro" id="receitaCentroCustos" placeholder="" type="text" disabled>
                					</div>
                					<div class="col-lg-2 mb-1">
                        				<label for="contratoCentroCustos2">Incidência (%):</label>
                                        <input ng-model="incidenciaConta.incidencia" class="form-control formCadastro" id="contratoCentroCustos2" placeholder="" type="text" disabled>
                					</div>
									
							<!-- CAMPO NOVO PARA VALOR DA INCIDENCIA -->
									<div class="col-lg-2 mb-2">
										<label for="valorDaPartilhaReceber">Valor</label>
                                        <input ng-model="incidenciaConta.valor" class="form-control formCadastro" id="valorDaPartilhaReceber"  type="number" to-precision="2" disabled >
									</div>							
								</div>
							</div>
							
							<div class="col-lg-12 mb-5">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <label for="contaReceberParceladaSView">Pagamentos parcelados:</label><br>
                                        <div style="text-align:center; padding-top:0.5rem;">
                                            <input name="contaReceberParcelada" id="contaReceberParceladaSView" type="radio" value="S" disabled ng-model="$ctrl.pagamentoParcelado" > Sim
                                            <input name="contaReceberParcelada" id="contaReceberParceladaNView" type="radio" value="N" disabled  ng-model="$ctrl.pagamentoParcelado" > Não
                                        </div>
                                    </div>
                                    <div class="col-lg-2" ng-if="$ctrl.pagamentoParcelado === 'S'" >
                                        <label for="valorEntradaView">Valor de entrada:</label>
                                        <input  class="form-control formCadastro" id="valorEntradaView" placeholder="0,00" type="text" disabled ng-model="$ctrl.contaReceber.valorEntrada" >
                                    </div>
                                    <div class="col-lg-2" ng-if="$ctrl.pagamentoParcelado === 'S'" >
                                        <label for="contaReceberEntrada">Valor das parcelas:</label>
                                        <input  class="form-control formCadastro" id="contaReceberentrada" placeholder="0,00" type="text" disabled ng-model="$ctrl.contaReceber.valorParcela" >
                                    </div>
                                    <div class="col-lg-2" ng-if="$ctrl.pagamentoParcelado === 'S'" >
                                        <label for="contaReceberParcelas">Total de parcelas:</label>
                                        <input  class="form-control formCadastro" id="contaReceberParcelas" placeholder="0" type="text" disabled ng-model="$ctrl.contaReceber.quantidadeParcelas" >
                                    </div>
                                    <div class="col-lg-2" ng-if="$ctrl.pagamentoParcelado === 'N'" >
                                        <label for="contaReceberEntrada">Valor a receber:</label>
                                        <input  class="form-control formCadastro" id="valorReceberSemParcelas" placeholder="0,00" type="text" disabled ng-model="$ctrl.contaReceber.valorReceber" >
                                    </div>
                                    <div class="col-lg-2" ng-if="$ctrl.pagamentoParcelado === 'S'" >
                                        <label for="contaReceberVencimento" class="required-label">Data do vencimento</label>
                                        <input  class="form-control" id="contaReceberVencimento" placeholder="dd/mm/aaaa" type="text" disabled value="{{$ctrl.contaReceber.dataReceber | date: 'dd/MM/yyyy'}}">
                                        <div class="invalid-feedback">
                                            Indique a data do vencimento
                                        </div>
                                    </div>
									<div class="col-lg-2" ng-if="$ctrl.pagamentoParcelado === 'S'" >
                                        <label for="contaReceberParcelasPacelaAtual">Parcela atual:</label>
                                        <input  class="form-control formCadastro" id="contaReceberParcelasPacelaAtual" placeholder="1 de 3" type="text" disabled ng-model="$ctrl.contaReceber.numeroParcela" >
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-12 mb-3" id="informacoesPagamentoAtrasado" ng-if="$ctrl.contaReceber.valorRecebido !== null && $ctrl.contaReceber.valorReceber !== $ctrl.contaReceber.valorRecebido" >
                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <a style="background-color:#A40002; padding:0.5rem; color:#FFFFFF; border-radius:0.2rem;">Esta receita foi paga com atraso!</a><br>
                                    </div>
                                    <div class="col-lg-3 mb-1">
                                        <label for="despesaValorComJuroseMultas">Valor final:</label>
                                        <input  class="form-control formCadastro" id="despesaValorComJuroseMultas" placeholder="00.00" type="text" disabled ng-model="$ctrl.contaReceber.valorRecebido">
                                    </div>
                                    <div class="col-lg-3 mb-1">
                                        <label for="despesaValorDosJuroseMultas">Juros e multas:</label>
                                        <input  class="form-control formCadastro" id="despesaValorDosJuroseMultas" placeholder="00.00" type="text" disabled ng-model="$ctrl.jurosMultas" >
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <table style="width:100%;">
                                    <tr style="text-align:center;">
                                        <td  colspan="4" style="padding-bottom:0.1rem;">
                                            <!--Pessoa:-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:5%; padding-left:0rem;">
                                            Pessoa:
                                        </td>
                                        <td style="width:10%; text-align:right; padding-right:1rem;">
                                            <input name="despesaPessoa" id="despesaFisica" value="FISICA" type="radio" ng-model="$ctrl.contaReceber.pessoaConta.tipoPessoa" disabled /> Física<br>
                                        </td>
                                        <td style="width:10%; padding-left:1rem;">
                                            <input name="despesaPessoa" id="despesaJuridica" value="JURIDICA" type="radio" ng-model="$ctrl.contaReceber.pessoaConta.tipoPessoa" disabled /> Jurídica<br>
                                        </td>
                                        <td style="width:auto;"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="invalid-feedback">
                                                Escolha uma opção
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div id="juridica" style="width:100%;">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <label for="despesaNomeJuridica">Nome:</label>
                                            <input  class="form-control formCadastro" id="despesaNomeJuridica" placeholder="Nome do destinatário" type="text" ng-model="$ctrl.contaReceber.pessoaConta.nome" disabled />
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="despesaCnpj">CNPJ:</label>
                                            <input  class="form-control formCadastro" id="despesaCnpj" placeholder="CNPJ" type="text" ng-model="$ctrl.contaReceber.pessoaConta.documento" disabled />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 mb-3">
                                    <div class="row">
                                        <div class="col-md-5 mb-2">
                                            <label for="empresaEndereco" class="required-label">Endereço</label>
                                            <input class="form-control formCadastro" id="empresaEndereco" placeholder="Nome da Rua e Número" type="text" ng-model="$ctrl.contaReceber.pessoaConta.endereco" disabled />
                                            <div class="invalid-feedback">
                                                Indique o endereço do cliente.
                                            </div>
                                        </div>
                                        <div class="col-md-2 mb-2">
                                            <label for="clienteEstadoView" class="required-label">Estado</label>
                                            <input class="form-control formCadastro" id="clienteEstadoView" placeholder="Estado" type="text" ng-model="$ctrl.contaReceber.pessoaConta.municipio.estado.nome" disabled />
                                        </div>
                                        <div class="col-md-3 mb-2">
                                            <label for="clienteCidadeView" class="required-label">Cidade</label>
                                            <input class="form-control formCadastro" id="clienteCidadeView" placeholder="Cidade" type="text" ng-model="$ctrl.contaReceber.pessoaConta.municipio.nome" disabled />
                                        </div>
                                        <div class="col-md-2 mb-2">
                                            <label for="empresaCep" class="required-label">CEP</label>
                                            <input class="form-control formCadastro" id="empresaCep" placeholder="CEP" type="text" ng-model="$ctrl.contaReceber.pessoaConta.cep" disabled />
                                            <div class="invalid-feedback">
                                                Indique o CEP.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-8 col-lg-8">
                                <button class="btn btn-gravar btn-lg btn-block" type="button" ng-click="$ctrl.editarConta($ctrl.contaReceber)" >Editar</button>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <button class="btn btn-finalizarEvento btn-lg btn-block" type="button" data-toggle="modal" data-target="#ContaReceberVer" >Fechar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alterarContrato" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="border:0rem !important;">
            <div class="modal-header" style="border-radius:0rem; padding:1rem;">
                <div class="row">
                    <h4 class="modal-title" style="padding-left:1rem; padding-top:0rem; margin:0rem;">Visualizar contrato</h4>
                    <a style="padding-left:1.2rem; font-size:0.8rem;">Só poderá visualizar o contrato se tiver as permissões necessárias</a>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="margin:auto; padding-top:3rem; padding-bottom:3rem;">
                <form method="post" name="Login_Form" class="form-signin rounded loginForm">
                    <label for="userEmail">Deseja ir para o contrato</label><br>
                    <div style="text-align:center;">
                        <button class="btn btn-lg btn-gravar mb-3"  type="button" ng-click="$ctrl.irParaContrato()" style="min-width:6rem;">Sim</button>
                        <button class="btn btn-lg btn-gravar mb-3"  type="button" data-dismiss="modal" style="min-width:6rem;">Não</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>